@tailwind base;
@tailwind components;
@tailwind utilities;

:where(.css-dev-only-do-not-override-3rel02).ant-input-outlined:focus-within {
  box-shadow: none;
  background: #edf1f4;
}
.ant-input-affix-wrapper {
  padding-top: 0;
}
.custom-select .ant-select-selection-placeholder {
  color: #3f4e60;
}
.color-block div {
  border: 0px solid green;
  transition: 30ms;
}
.color-block:hover div {
  border: 2px solid green;
}
.custom-slider .slick-next::after,
.custom-slider .slick-prev::after {
  display: none;
}
.ant-card .ant-card-body {
  padding-top: 5px !important;
  padding-bottom: 14px !important;
}
.ant-upload {
  width: 140px !important;
  height: 140px !important;
}
.no-spin {
  -moz-appearance: textfield;
  appearance: textfield;
}
.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spin input {
  -moz-appearance: textfield !important;
  appearance: textfield !important;
}
.no-spin input.ant-input::-webkit-inner-spin-button,
.no-spin input.ant-input::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
